# -------------------------
# 🔐 Archivos sensibles
# -------------------------
firebase_options.dart
*.env
.env.*
.firebaserc
serviceAccountKey.json
*.secret.json
*.private.json
google-services.json
GoogleService-Info.plist

# -------------------------
# Logs
# -------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# Node / JS
# -------------------------
node_modules/
dist/
build/

# -------------------------
# Firebase
# -------------------------
.firebaserc
firebase-debug.log
.storage/
.firebase/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE files
# -------------------------
.vscode/
.idea/
*.iml
