# Flutter
.dart_tool/
.build/
.pub/
.idea/
.vscode/
packages
build/

# Android
android/.gradle
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/Pods
ios/Runner/GoogleService-Info.plist
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# Web
web/firebase-config.js
web/.env

# Sensitive
lib/firebase_options.dart
*.env
firebase.json
