# Node
node_modules/
dist/
build/

# Environment
.env
.env.*
firebase.json
firestore.rules
storage.rules
firebase-debug.log

# Sensitive
serviceAccountKey.json
google-services.json
GoogleService-Info.plist

# OS / Cache
.DS_Store
Thumbs.db
android/app/google-services.json